:root {
    --main-headers-color: #f05454;
    --main-bg-color: #37373b;
    --main-font-color: rgba(255, 255, 255, 0.8);
    --hr-border-settings: 2px solid rgb(240, 84, 84, 0.3);
    --code-bg-color: #202020;
    --code-font-color: #d0d0d0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    color: var(--main-font-color);
    font-family: 'Source Code Pro', monospace;
    font-size: 0.95em;
    font-weight: 300;
    letter-spacing: .03em;
    line-height: 1.5em;
    text-align: justify;
    text-justify: distribute;
    overflow-wrap: break-word;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--main-headers-color);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    letter-spacing: -1px;
    text-align: left;
    margin-top: 30px;
}

h2,
h3,
h4 {
    letter-spacing: -1px;
    text-align: left;
}

strong {
    font-weight: bold;
    letter-spacing: -1px;
}


/* Navbar */

#author-name {
    font-size: 25px;
    color: var(--main-font-color);
    display: inline-block;
    line-height: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
    display: inline-block;
}

.nav-list a i {
    margin-right: 5px;
}

.alignable,
.pull-right,
.pull-left {
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/* Content */

.content .title-intro {
    color: var(--main-headers-color);
}

.content a:hover {
    text-decoration: underline;
}

.content ol {
    counter-reset: list;
}

.content ol>li {
    list-style-position: none;
    position: relative;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content ol>li:before {
    content: "";
    margin-left: -0.65rem;
}

.content ul>li {
    margin: 5px 0 5px 0;
}

.content ol {
    padding: 0 30px 0 30px;
}

.content ol>li:before {
    content: "[" counter(list, decimal) "] ";
    counter-increment: list;
    position: absolute;
    left: -30px;
}

.content ol>li>ul {
    padding-left: 0px;
    display: flow-root;
}

.content ol>li>ul>li {
    list-style: none;
}

.content blockquote {
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
    font-style: italic;
}

.content .profile-picture {
    width: 120px;
    position: relative;
    margin: -30px 0 10px 30px;
    float: right;
    border: solid #96969d 2px;
    border-radius: 50% 50%;
}

@media (max-width: 480px) {
    .content .profile-picture img {
        display: none;
    }
}

.content img {
    text-align: center;
    width: 100%;
}

@media (max-width: 480px) {
    .content ol {
        padding: 0 0 0 30px;
    }
}


/* Divs */

.container {
    max-width: 900px;
    margin: auto;
}

.wrapper {
    min-height: 100%;
}


/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: 600px;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 85%;
        font-size: 95%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .navbar {
        text-align: center;
        padding: 50px 0px 0px 0px;
    }
    #author-name {
        width: 100%;
        float: none;
    }
    #navlist {
        padding: 10px 0 10px 0;
        margin: 0;
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
    #navlist li.alignable,
    #navlist li.pull-left,
    #navlist li.pull-right {
        display: inline-block;
    }
    #navlist li.pull-left {
        float: none;
    }
    #navlist li.nav-list {
        margin: 0;
    }
}


/*images*/

.imgsdiv {
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
}

div>.highlighter-rouge {
    font-family: "Fira Code", monospace;
    border-left: 5px solid #333333;
    margin: 20px 0 20px 0;
    padding: 2px 8px 2px 8px;
}

.highlighter-rouge {
    font-size: 1.3em;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;
}

.social>.social-links {
    font-size: 25px;
    display: inline-block;
}


/* Separator */

hr {
    display: block;
    border: 0;
    position: relative;
    margin: 0px 0px 0px 0px;
}

hr:before,
hr:after {
    content: "";
    display: block;
    position: absolute;
    border-top: 0px solid rgba(0, 0, 0, 0.1);
    border-bottom: var(--hr-border-settings);
    height: 0px;
}

hr:before {
    left: 0;
    right: 50%;
}

hr:after {
    right: 0;
    left: 50%;
}

hr.separator-footer {
    padding: 10px 0px 10px 0px;
}